body {
  margin: 0;
  padding: 0;
  font-family: 'Bloomfield-Rg';
  background-color: #e7e7e7;
}

@font-face {
  font-family: 'jeticons';
  src: url("https://images.jet.com/fonts/jeticons-25127591/jeticons.eot?25127591");
  src: url("https://images.jet.com/fonts/jeticons-25127591/jeticons.eot?#iefix25127591") format("embedded-opentype"), url("https://images.jet.com/fonts/jeticons-25127591/jeticons.ttf?25127591") format("truetype"), url("https://images.jet.com/fonts/jeticons-25127591/jeticons.woff?25127591") format("woff"), url("https://images.jet.com/fonts/jeticons-25127591/jeticons.svg?25127591#jeticons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bloomfield-Bd';
  src: url("https://images.jet.com/fonts/jetont/Bloomfield_W_Bd.eot?#iefix") format("embedded-opentype"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Bd.woff") format("woff"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Bd.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bloomfield-Blk';
  src: url("https://images.jet.com/fonts/jetont/Bloomfield_W_Blk.eot?#iefix") format("embedded-opentype"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Blk.woff") format("woff"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Blk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bloomfield-Rg';
  src: url("https://images.jet.com/fonts/jetont/Bloomfield_W_Rg.eot?#iefix") format("embedded-opentype"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Rg.woff") format("woff"), url("https://images.jet.com/fonts/jetont/Bloomfield_W_Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* text */
.white{
  color: #fff;
}

.font-bold, .font-strong, .strong, strong{
  font-family: 'Bloomfield-Bd';
}

.smaller {
  font-size: 11px;
  font-size: .6875rem;
  line-height: 1;
  line-height: 15px;
}


.h5{
  font-size: .875rem;
  line-height: 19px;
}

.small{
  font-size: .75rem;
  line-height: 16px;
}

/* layout */
.text-center{
  text-align: center;
}

.fl{
  float: left;
}

.fr{
  float:right;
}

.pl1{
  padding-left: 0.5rem;
}

.pl2{
  padding-left: 1rem;
}

.pr2{
  padding-right: 1rem;
}

.pr3{
  padding-right: 1.5rem;
}

.pr4{
  padding-right: 2rem;
}

.py1{
  padding-top:0.5rem;
  padding-bottom: 0.5rem;
}

.mr1{
  margin-right: 0.5rem;
}

.ml1{
  margin-left: 0.5rem;
}

.mb2 {
  margin-bottom: 1rem;
}

/* media */
@media only screen and (max-width: 768px) and (min-width: 0){
  .hide-small.hide-small, .desktop {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
  .hide-medium.hide-medium {
    display: none;
  }
}

@media only screen and (min-width: 1025px){
  .hide-large, .mobile {
    display: none;
  }
}

/* icons */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'jeticons';
  font-style: normal;
}

.icon-social-facebook-circle:before {
  content: '\e83b';
}

.icon-social-gplus-circle:before {
  content: '\e83d';
}

.icon-social-instagram-circle:before {
  content: '\e83f';
}

.icon-social-linkedin-circle:before {
  content: '\e841';
}

.icon-jet:before {
  content: '\e828';
}

.icon-caret-down:before {
  content: '\e80b';
}

.icon-cart-empty:before {
  content: '\e812';
}

.icon-search:before {
  content: '\e837';
}

.icon-j:before {
  content: '\e827';
}