.wear-item {
  display: inline-block;
  transform: scale(0.9);
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.wear-item .wear-img-wrapper {
  height: 275px;
}

.wear-item .wear-img-wrapper .wear-img {
  width: 100%;
  max-height: 100%;
}

.wear-item .wear-brand {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding: 0px 10px;
}

.wear-item .wear-desc {
  font-size: 12px;
  font-weight: 400;
  height: 40px;
  margin-top: 10px;
  white-space: normal;
  text-align: left;
  padding: 0px 10px;
}

.wear-item .wear-price {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding: 0px 10px;
  margin-bottom: 5px;
}
